@media only screen and (max-width:1350px) {
    .normal {
        font-size: 1.8rem;
    }
    .header {
    width: 919px;
        height: 0px;
    }
    #homelink{
        width: 75px;
        font-size: 1.5rem;
    }
    #aboutlink {
        width: 87px;
        font-size: 1.5rem;
    }
    #projectlink {
        width: 117px;
        font-size: 1.5rem;
    }
    #bloglink {
        width: 67px;
        font-size: 1.5rem;
    }
    #cvlink {
        width: 37px;
        font-size: 1.5rem;
    }
    #kennislink {
        width: 90px;
        font-size: 1.5rem;
   }
    #contactlink {
        width: 117px;
        font-size: 1.5rem;
    }
    .footer {
        font-size: 1.8rem;
    }
}
@media only screen and (max-width:1250px) {
    .normal {
        display: none;
    }
    .mobile {
        display: inline-block;
        height: 40px;
    }
    .tablet {
        display: inline-block;
        float: right;
    }
    .header {
    width: 809px;
        height: 0px;
    }
    #homelink{
        width: 60px;
        font-size: 1.2rem;
    }
    #aboutlink {
        width: 70px;
        font-size: 1.2rem;
    }
    #projectlink {
        width: 95px;
        font-size: 1.2rem;
    }
    #bloglink {
        width: 55px;
        font-size: 1.2rem;
    }
    #cvlink {
        width: 30px;
        font-size: 1.2rem;
    }
    #kennislink {
        width: 75px;
        font-size: 1.2rem;
    }
    #contactlink {
        width: 95px;
        font-size: 1.2rem;
    }
    .footer {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width:1000px) {
    .footer {
        font-size: 1.5rem;
    }
    .mobile {
        display: inline-block;
        height: 60px;
    }
    .tablet {
        padding-top: 2px;
        font-size: 2.4rem
    }
    .mobi-header {
        display: block
    }
    .header {
        display: none;
        height: auto;
        width: 100%;
        margin-top: 0px
    }
    
    header {
        min-height: 60px;
    }
    #home{
        height: 60px;
    }
    .firstline {
        height: 100.5px;
        background-color: #2F4F4F;
        margin-bottom: -72px;
        width: 100%;
    }
    .secondline {
        height: 101px;
        background-color: #769999;
        width: 100%;
    }
    .header li { 
        float: none; 
        display: block; 
        margin-left: auto;
    }
    
    #homelink{
    width: auto;
        font-size: 2rem;
        padding: 0px;
        height: 0px;
        border-bottom: 42px solid #5EFFA4;
        float: none;
        margin-top: -2px

    }
    #aboutlink {
    width: auto;
        margin-top: 2px;
        font-size: 2rem;
        padding: 0px;
        height: 0px;
        border-bottom: 42px solid #5EFFA4;
        float: none;
    }
    #projectlink {
        width: auto;
        margin-top: 2px;
        font-size: 2rem;
        padding: 0px;
        height: 0px;
        border-bottom: 42px solid #5EFFA4;
        float: none;
    }
    #bloglink {
    width: auto;
        margin-top: 2px;
        font-size: 2rem;
        padding: 0px;
        height: 0px;
        border-bottom: 42px solid #5EFFA4;
        float: none;
    }
    #cvlink {
    width: auto;
        margin-top: 2px;
        font-size: 2rem;
        padding: 0px;
        height: 0px;
        border-bottom: 42px solid #5EFFA4;
        float: none;
    }
    #kennislink {
    width: auto;
        margin-top: 2px;
        font-size: 2rem;
        padding: 0px;
        height: 0px;
        border-bottom: 42px solid #5EFFA4;
        float: none;
    }
    #contactlink {
        width: auto;
        margin-top: 2px;
        font-size: 2rem;
        padding: 0px;
        height: 0px;
        border-bottom: 42px solid #5EFFA4;
        float: none;
    }
}
@media only screen and (max-width:900px) {
    
    
    
}